.textarea-component {
    width: 100%;
    margin-bottom: 18px;
}

.textarea-field {
    width: 100%;
    position: relative;

    &__label {
        color: $secondary-color;
        color: $blue-dark;
        display: block;
        font-size: 14px;
        margin-bottom: 13px;
        font-weight: 600;

        &:empty {
            display: none;
        }
    }

    &__textarea {
        border: 2px solid $light;
        width: 100%;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: 0px 0px 11px 1px rgba(233,236,240,0);
        font-family: "Roboto";
        transition: box-shadow .3s ease-in-out;
        padding: 15px;
        outline: none;
        max-width: 100%;
        min-width: 100%;
        min-height: 130px;

        &:focus,
        &:active {
            box-shadow: 0px 0px 11px 1px #e9ecf0;
        }

        &::placeholder {
            color: $secondary-color;
        }
    }
}