.v-btn {
    color: $white;

    position: relative;
    text-align: center;
    border: none;
    outline: none;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: 14px;
    min-width: 120px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:not(:only-child) {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__loader {
        color: transparent;
        position: relative;
        left: 10px;

        &:after {
            content: '';
            position: relative;
            display: inline-block;
            border: 2px solid #394b63;
            border-top: 2px solid #ffffff;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            animation: spin 1s linear infinite;
        }
    }

    &__primary {
        background-color: $primary-color;

        &:hover {
            background-color: $blue-dark-1;
        }
    }

    &__secondary {
        background-color: $blue-light-1;
        
        &:hover {
            background-color: $blue-dark-1;
        }
    }

    &__third {
        background-color: $red;

        &:hover {
            background-color: darken($red, 20%);
        }
    }

    

    &__wide {
        width: 100%;
        padding: 15px;
    }

    &__tip {
        position: relative;
        right: -2px;
        display: inline-block;
        color: $primary-color;
        background-color: $white;
        border-radius: 50%;
        min-width: 15px;
        min-height: 15px;
        font-size: 13px;
        font-weight: $font-bold;
    }
}

.btn {
    background: linear-gradient(86.51deg, #2FB0F9 3.31%, #376FFE 85.1%);
    box-shadow: 0px 5px 20px rgba(52, 138, 252, 0.4);
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $white;
    border: none;
    padding: 9px 20px;
    min-width: 135px;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s linear;


    &[disabled] {
        opacity: 0.6;
        pointer-events: none;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}