.quiz-results-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light;
    z-index: 1;
    padding: 100px 0;
    display: flex;
    align-items: center;

    .btn-close {
        position: absolute;
        top: 80px;
        right: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
        color:#4DBBF9;
        transition: 0.3s opacity linear;

        &:hover {
            opacity: 0.7;
        }
    }

    h2 {
        color: #4DBBF9;
        font-weight: $font-bold;
    }
}

@keyframes animateStars {
    1% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    } 
}

.stars  {
    position: absolute;
    top: 4.10678vh;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
    z-index: -1;

    @include media('>=widescreen') {
        top: -7.18686vh;
        width: 30vw;
        height: auto;
    }

    path {
        animation: animateStars ease-in-out infinite both; 
        animation-duration: 1.25s;   

        &:nth-of-type(1) {
            animation-delay: 0.28s;
        }
        
        &:nth-of-type(2) {
            animation-delay: 0.48s;
        }

        &:nth-of-type(3) {
            animation-delay: 0.68s;
        }
        
        &:nth-of-type(4) {
            animation-delay: 0.88s;
        }

        &:nth-of-type(5) {
            animation-delay: 1.08s;
        }

        &:nth-of-type(6) {
            animation-delay: 1.28s;
        }
        
        &:nth-of-type(7) {
            animation-delay: 1.48s;
        }

        &:nth-of-type(8) {
            animation-delay: 1.68s;
        }

        &:nth-of-type(9) {
            animation-delay: 1.88s;
        }
    }
}