.section-quiz-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz {
    padding: 50px 0;
}

.quiz-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
        margin-left: 20px;
    }
}

.quiz-app {
    h2 {
        margin-bottom: 0;
    }

    &__header {
        background: #2FB0F9;
        border-radius: 20px 20px 0px 0px;
        padding: 50px;
        text-align: center;
        color: $white;
    }
    
    &__answer-list {
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    &__answer-item {
        list-style-type: none;
        background-color: $white;
        color: #004494;
        border-radius: 0 0 20px 20px;
        width: 25%;
        text-align: center;
        overflow: hidden;

        label {
            display: block;
            padding: 50px;
            cursor: pointer;
            font-weight: 600;
            transition: background 0.3s linear, color 0.3s linear;

            &.active {
                background: linear-gradient(180deg, #18EDD5 37.98%, #64CEE6 100%);
                color: #004494;
            }
        }

        input {
            display: none;
        }
    }
}

.quiz-app-question {
    margin-bottom: 50px;
}