.section-profile {
    &__row {
        @include media('>=desktop') {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
    }

    &__col {
        width: 100%;

        @include media('>=desktop') {
            padding: 0 15px;
            display: flex;
        }

        &-4 {
            @include media('>=desktop') {
                width: 33.33%;
            }
        }

        &-8 {
            @include media('>=desktop') {
                width: 66.66%;
            }
        }
    }
}