.section-admin-banner {
    color: $white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 108px;
    margin-bottom: -74px;

    @include media('>=tablet') {
        padding: 92px 0 108px;
    }

    h1 {
        font-size: 26px;
        color: inherit;

        @include media('>=tablet') {
            font-size: 36px;
        }
    }
}

.dashboard-breadcrumbs {
    font-size: 14px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: inherit;
}