.header {
    padding: 14px 0;
    color: #525F7F;
    background-color: #ffffff;

    &__logo {
        margin-right: 10px;
        width: 70px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.header-nav-active {
        .header-nav__secondary {
            transform: translateX(0);
        }

        + .main {
            @include media('>=tablet') {
                padding-left: 137px;
            }
        }
    }
}

.header-user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.btn-sign-out {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
   
}